<div class = "form-template-outer">
  <div class = "form-template-cell">
    <div class = "form-template-inner">
      <div class = "insideFormTemplate">
	      <h2><span class = "form-title">Update Post</span></h2>

		  <%= render 'update-form', post: @post %>

		  <div class = "actions">
			<div>
				<%= link_to 'Back', post_path(@post.id) %>
			</div>
		  </div>
	  </div>
    </div>
  </div>
</div>

