<div class = "form-template-outer">
  <div class = "form-template-cell">
    <div class = "form-template-inner">
      <div class = "insideFormTemplate">
		<h2><span class = "form-title">Add Post</span></h2>
		<%= render 'form', post: @post %>
	  </div>
    </div>
  </div>
</div>