<div class = "form-template-outer">
  <div class = "form-template-cell">
    <div class = "form-template-inner">
      <div class = "insideFormTemplate">
		<ul class = "post-tabs">
			<li><h3 class = "post-tab-category right-border">Media</h3></li>
			<li><h3 class = "post-tab-category">Text</h3></li>
		</ul>
		<%= render 'form', post: @post %>
	  </div>
    </div>
  </div>
</div>