<% if @post.image.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
<div id = "post-outer-container">
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @post.image.variant(resize: "500x500") %>
  </p>
</div>
<% end %>