@import "bootstrap"; 

body{
	margin:0 !important;
	padding:0;
	/*Want the height to be all that we can view on a screen*/
	height:100vh;
	background-color: #F3F3F3 !important;
}

.row{
	position: relative;
	height: 100%;
}

.field input{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #7a1bb4 2px;
}

.insideFormTemplate *{
	max-width: 485px;
}

label{
	display: inline-block !important;
}

.loginButton{
	/*Float to the left of all other inline elements, which we made the remember me button and checkbox*/
	float: left;
	margin-right: 16px;
	border-radius: 22.5px !important;
	background-color: #d065ff;
	border-color: #d065ff;
	border-style: solid;
	cursor: pointer;
	padding: 3px 18px;
}

#new_user{
	margin-top: 16px;
}

#remember *{
	vertical-align: middle;
}

#remember label{
	margin: 0;
}

.insideFormTemplate{
	margin-left: auto;
	margin-right: auto;
	max-width: 485px;
}

.form-title{
	display: table;
	margin: 0 auto;
}

.actions *{
	margin-left: auto;
	margin-right: auto;
}

.form-field{
	display: block;
	width: 90% !important;
	margin-left: auto;
	margin-right: auto;
}

.form-field:focus{
	outline-style: none;
	border-bottom: solid #7a1bb4 2px;
}

.actions{
	display: flex;
	align-items: center;
}

.test{
	position: relative;
}

/*----------------------------------------------------------------Table/Content CSS----------------------------------------------------------------*/
h1{
	margin-left: auto;
	float: none;
}

.col-12{
	padding: 0;
}

table.col-12{
	/*Ensure that the table can't be bigger than this*/
	max-width: 960px;

	/*break on character, not by word*/
	word-break: break-all;
}

#notice{
	margin-bottom:8px;
}

th{
	padding-left: 16px;
	padding-right: 16px;
}

.wrapper{
	/*Determine how this object fits into the flex container it is in, it is a block-level element*/
	display: flex;
}

#content{
	margin-left: 240px;
	margin-top: 54px !important;
	width: 100%;
	height: 100vh;
	background-color: #F3F3F3;
}

div.email:hover{
	color:black;
}

a.email{
	text-decoration: none;
}

a.email:visited{
	color:black;
}

#content.active{
	margin-left: 0px;
	margin-right: auto;
}

.noClick{
	pointer-events: none;
}

table{
	margin:auto;
	float:none;
	width: inherit;
}

.form-template-outer{
	/*Item displays like a table element*/
	display: table;
	/*Position based on outer most POSITIONED ancestor, which may be the body by default if not set- most powerful because it can be positioned anywhere within the parent*/
    position: relative;
    height: 100%;
    width: 100%;
}

.form-template-cell{
	/*Item displays like a td element, aligning vertically*/ 
	display: table-cell;
	padding-top: 108px;
	padding-left: 24px;
	padding-right: 24px;
}

.form-template-inner{
	/*Here we center the object horizontally*/
	margin-left: auto;
	margin-right: auto;
	/*This is to add distance from the edge of a smaller screen size.*/
	/*This prevents text from overflowing, by setting a limit.*/
	max-width: 70%;
	background-color: white;
	padding-top: 24px;
	padding-bottom: 24px;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.form-template-inner .field input{
	width: 60%;
}

/*------------------------------------------------------------------------Navbar CSS------------------------------------------------------------------------*/
.right-text{
	font-size: 1rem !important;
}

#navbarContainer{
	height: 54px;
}

i.fa.fa-search{
	color:white;
}

button#searchIconButton{
	background-color:transparent !important;
	border: none;
	cursor:pointer;
	padding: 0;
	margin-right: 15px;
}

i.fa.fa-bars{
	color:white;
	font-size: 1.25rem !important;
}

button#sidebarCollapse{
	background-color:transparent !important;
	padding: 0;
	border: none;
	cursor:pointer;
}

.btn-outline-primary:hover{
	background-color:transparent;
}

button.btn-round-lg{
	border-radius: 22.5px !important;
	background-color: transparent;
	border-color: #d065ff;
	border-style: solid;
	cursor: pointer;
	padding: 4px 24px;
}

button.btn-round-lg:hover{
	background-color: #d065ff;
}

#square { 
	width: 25px; 
	height: 25px; 
	background: #d065ff;
	margin-right: 15px;
}

a[data-toggle="collapse"] {
	/*Item is positioned relative to where it would be originally*/
    position: relative;
}

.navbar-brand a{
	padding: 0;
	padding-bottom: 1px;
	margin:0;
	margin-left: 12px;
	color: #d065ff !important;
}

.d-none{
	margin-right: 15px;
}

.corner{
	/*margin-left: 10px;*/
	margin-right: auto;
}

#searchForm{
	display:none;
	margin-right: 15px;
}

button.search{
	box-sizing: border-box;
	padding:0;
}

.searchBox{
	border: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	width: 300px;
	outline: none;
}

.narrowSearch{
	width: 90vh;
}

.search{
	border: 0;
	width: 50px;
}

i.fa.fa-search.searchInButton {
    color: black;
}

button.search{
	background-color: whitesmoke;
	cursor:pointer;
}

p#searchButton{
	text-align: center;	
}

.far-right{
	margin-left: 20px;
}

/*-------------------------------------------------------------------------Sidebar CSS--------------------------------------------------------------------------*/

.about-section{
	/*elements displayed inline like span element*/
	display: inline;
	list-style: none;
	padding: 0;
	width: 100%;
	margin-left: 16px;
	position: absolute;
	padding-top: 22px;
	padding-bottom: 22px;
}

.bottomZero{
	bottom: 0;
}

.noShow{
	display:none;
}

.panel-heading{
	position: relative;
}

.fullHeight{
	height: 100% !important;
}

#second-row{
	margin-left: 16px;
}

.about-section li{
	margin-right: 8px;
	margin-bottom: 8px;
	/*Displays inline without ability to change size of element*/
	display: inline;
}

.panel-title{
	margin-left: 16px;
}

.panel-group, .panel-default, .panel-collapse{
	height: 100%;
}

#sidebar{
	box-shadow: 0px 0px 0px 2px #ececec;
	background-color: white;
	overflow-x: hidden;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar{
	height: 100vh;
	width: 240px;
	float: left;
	/*Fixed means it is in the same position within the viewport while sticky is the position based on scrolling (stick to a part when you scroll down a point)*/
	position: fixed;
	overflow-y: auto;
	padding-top: 62px !important;
	padding-bottom: 16px;
	border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:hover{
	background-color: #E8E8E8;
}

.sidebarOverlay{
	flex: 0 0 45% !important;
	width: 240px !important;
	background-color:white !important;

	/*Displays like a full-width block element, like p*/
	display:block !important;
	z-index: 1;
}

/*To make overlay work, we need it to basically cover EVERYTHING, not make it an add-on to an existing element.*/
.overlay {
	/*Make relative so that we can actually specify top left right bottom attributes*/
    position: fixed;
    width: 100%;
    /*Want the overlay to take the full visible height, not the size of the content itself*/
    height: 100vh !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5) !important;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.blockDisplay{
	display: block !important;
}

/*-------------------------------------------------Responsive CSS in order from largest to smallest sizes-------------------------------------------------*/

@media screen and (max-width: 960px){
	#content{
		margin: auto;
	}

	table{
		word-break: break-all; 
	}

	td{
		font-size: 0.7em;
	}

	.spacer{
		height: 70px;
	}

	.text-white{
		/*displays like an inline element, but you can alter height and width within the line*/
		display: inline-block;
		float: none;
	}

	#sidebar{
		flex: 0 0 0%;
		width: 0%;
	}

	.col-md-2{
		flex: 0 0 0%;
		width: 0% !important;
	}
}

@media screen and (max-width: 768px){
	#sidebar{
		/*Sets the visibility to 'gone'*/
		display: none;
	}
}

/*---------------------------------------------------------------------Error Page CSS----------------------------------------------------------------------------*/
.error-outer{
	/*Item displays like a table element*/
	display: table;
	/*Position based on outer most POSITIONED ancestor, which may be the body by default if not set- most powerful because it can be positioned anywhere within the parent*/
    position: relative;
    height: 100%;
    width: 100%;
}

.error-sheet{
	/*Item displays like a td element, aligning vertically*/ 
	display: table-cell;
}

.error-inner{
	/*Here we center the object horizontally*/
	margin-left: auto;
	margin-right: auto;
	/*This is to add distance from the edge of a smaller screen size.*/
	padding-left: 24px;
	padding-right: 24px;
	/*This prevents text from overflowing, by setting a limit.*/
	max-width: 60%;
}

#frowny-face h6{
	font-size: 3rem;
}