@import "bootstrap";

body{
	margin:0 !important;
	padding:0;
}

/*----------------------------------------------------------------Table/Content CSS----------------------------------------------------------------*/


h1{
	margin-left: auto;
	float: none;
}

.col-12{
	padding: 0;
}

table.col-12{
	max-width: 960px;
	word-break: break-all;
}

#notice{
	margin-bottom:8px;
}

th{
	padding-left: 16px;
	padding-right: 16px;
}

.wrapper{
	display: flex;
}

#content{
	margin-left: 240px;
	width: 100%;
	background-color: #F3F3F3;
}

div.email:hover{
	color:black;
}

a.email{
	text-decoration: none;
}

a.email:visited{
	color:black;
}

#content.active{
	margin-left: 0px;
	margin-right: auto;
}

.noClick{
	pointer-events: none;
}

table{
	margin:auto;
	float:none;
	width: inherit;
}

/*------------------------------------------------------------------------Navbar CSS------------------------------------------------------------------------*/
.right-text{
	font-size: 1rem !important;
}

i.fa.fa-search{
	color:white;
}

button#searchIconButton{
	background-color:transparent !important;
	border: none;
	cursor:pointer;
}

i.fa.fa-bars{
	color:white;
	font-size: 1.25rem !important;
}

button#sidebarCollapse{
	background-color:transparent !important;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	border: none;
	cursor:pointer;
}


a[data-toggle="collapse"] {
    position: relative;
}

.navbar-brand a{
	margin:0;
	margin-left: 16px;
	color: #d065ff !important;
}


.corner{
	/*margin-left: 10px;*/
	margin-right: auto;
}

#searchForm{
	display:none;
}

.searchBox{
	box-sizing: border-box;
	border: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 350px;
}

.search{
	border: 0;
	width: 50px;
}

i.fa.fa-search.searchInButton {
    color: black;
}

button.btn-outline-secondary{
	color: white;
	height: inherit;
	border-radius: 0 !important;
}

p#searchButton{
	text-align: center;
	
}


#far-right{
	padding-left: 10px;
}

/*-------------------------------------------------------------------------Sidebar CSS--------------------------------------------------------------------------*/

.panel-group, .panel-default, .panel-collapse{
	height: 100%;
}

#sidebar{
	box-shadow: 0px 0px 0px 2px #ececec;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar{
	height: 100vh;
	width: 240px;
	float: left;
	position: fixed;
	overflow-y: auto;
	padding-top: 72px !important;
	border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:hover{
	background-color: #E8E8E8;
}

.sidebarOverlay{
		flex: 0 0 45% !important;
		width: 240px !important;
		background-color:white !important;
		display:block !important;
		z-index: 1;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

/*-------------------------------------------------Responsive CSS in order from largest to smallest sizes-------------------------------------------------*/

@media screen and (max-width: 960px){
	#content{
		margin: auto;
	}

	table{
		word-break: break-all; 
	}

	td{
		font-size: 0.7em;
	}

	.spacer{
		height: 70px;
	}

	.text-white{
		display: inline-block;
		position:static; 
		float: none;
	}

	#sidebar{
		flex: 0 0 0%;
		width: 0%;
	}

	.col-md-2{
		flex: 0 0 0%;
		width: 0% !important;
	}
}

@media screen and (max-width: 768px){
	#sidebar{
		display: none;
	}

	.btn-outline-secondary{
		display: none;
	}
}

@media screen and (max-width: 650px){
	nav{
		height:auto;
		position: static;
		overflow: auto;
	}

	#content{
		width: auto;
	}


	.text-white{
		display: inline-block;
		position:static; 
		float: none;
	}

}

@media screen and (max-width: 480px) {

	nav.bg-dark{
		padding: 0;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.nav-item{
		font-size: 0.75rem;
	}

	.navbar-brand{
		margin-left: 4px;
	}

	.corner{
		margin-left: 0px;
		font-size: 0.7rem;
	}

	i.fa.fa-bars{
		font-size: 1rem !important;
	}

	html {
		-webkit-text-size-adjust: none;
	}
}