@import "bootstrap"; 

body{
	margin:0 !important;
	padding:0;
	/*Want the height to be all that we can view on a screen*/
	height:100vh;
	background-color: #F3F3F3 !important;
	color: black;
}

.row{
	position: relative;
	height: 100%;
}

#notice{
	margin-left:auto;
	margin-right: auto;
	color: #d065ff !important;
	display: table;
	padding-top: 16px;
	margin-bottom:8px;
}

h1{
	margin-left: auto;
	float: none;
}

.col-12{
	padding: 0;
}

table.col-12{
	/*Ensure that the table can't be bigger than this*/
	max-width: 960px;

	/*break on character, not by word*/
	word-break: break-all;
}


th{
	padding-left: 16px;
	padding-right: 16px;
}

.wrapper{
	/*Determine how this object fits into the flex container it is in, it is a block-level element*/
	display: flex;
}

#content{
	margin-left: 240px;
	margin-top: 54px !important;
	width: 100%;
	height: 100%;
	background-color: #F3F3F3;
}

div.email:hover{
	color:black;
}

a.email{
	text-decoration: none;
}

a.email:visited{
	color:black;
}

#content.active{
	margin-left: 0px;
	margin-right: auto;
}

.noClick{
	pointer-events: none;
}

table{
	margin:auto;
	float:none;
	width: inherit;
}

.post-container{
	max-width: 614px;
	overflow: hidden;
	background: white;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-top: 16px;
}

.image-resize{
	max-width: 100%;
	max-height: 768px;
    width: 100%;
}

img {
    image-orientation: from-image;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.too-narrow{
	max-width: 100%;
	max-height: 768px;
    width: 100%;
	object-fit: cover;
}

.too-wide{
	max-width: 100%;
	max-height: 768px;
    width: 100%;
	object-fit: contain;
}

.post-title{
	background-color: white;
    width: 614px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding-left: 8px;
}

.post-header{
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(219, 205, 203);
}

.post-header li{
	float: left;
}

li .post-header-list{
	margin-bottom: 0;
	color: gray;
	margin-right: 6px;
}

#post-avatar { 
	width: 25px; 
	height: 25px; 
	background: #d065ff;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}

#post-footer{
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
}

#post-footer li{
	float: left;
	display: table;
	width: 50%;
	text-align: center;
}

#post-footer li p{
	display: table-cell;
}

.arrow{
	font-size: 28px;
	cursor: pointer;
}

.post-footer-list{
	margin-left: 8px;
}

.footer-counts{
	display: inline-block !important;
	margin-bottom: 0;
	vertical-align: super;
	padding-left: 8px;
}

#footer-middle{
	border-right: 1px solid rgb(169, 135, 165);
}

#right-side-header{
	margin-left: auto;
	margin-right: 8px;
}

#three-dots{
	margin-right: 16px;
}

#share-button{
	padding: 0.2rem 0.5rem !important;
	border-color: rgb(106,90,205);
	color: rgb(106,90,205);
	background-color: white;
}

#share-button:hover{
	background-color:rgb(106,90,205);
	color: white;
}

.upvoted{
	color: orange;
}

.downvoted{
	color: blue;
}

#comment-icon{
	font-size: 22px;
	cursor: pointer;
}

#settings-dropdown{
	position: absolute;
	right: 5px;
}

.vote-buttons{
	display: inline-block;
}

.vote-buttons button{
	border: 0;
	background-color: transparent;
}