.fa-home{
	font-size: 20px !important;
	margin-right: 15px;
}

.fa-line-chart{
	font-size: 21px !important;
	margin-right: 17px;
}

.fa-random{
	font-size: 22px !important;
	margin-right: 16px;
}

.fa-futbol-o{
	font-size: 22px !important;
	margin-right: 16px;
}

.fa-smile-o{
	font-size: 22px !important;
	margin-right: 17px;
}

.fa-gamepad{
	font-size: 20px !important;
	margin-right: 13px;
}

.fa-music{
	font-size: 22px !important;
	margin-right: 16px;
}

.fa-camera{
	font-size: 21px !important;
	margin-right: 17px;
}

.fa-frown-open{
	font-size: 22px !important;
	margin-right: 17px;
}

.fa-utensils{
	font-size: 22px !important;
	margin-left: 3px;
	margin-right: 17px;
}

.fa-paw{
	font-size: 24px !important;
	margin-right: 14px;
}

.fa-newspaper-o{
	font-size: 21px !important;
	margin-right: 14px;
}

.fa-question{
	font-size: 22px !important;
	margin-left: 2px;
	margin-right: 19px;
}

.fa-dumbbell{
	font-size: 20px !important;
	margin-left: -2px;
	margin-right: 15px;
}

.fa-surprise{
	font-size: 22px !important;
	margin-right: 17px;
}

.fa-angle-down{
	padding-right: 8px;
}

.fa-angle-up{
	padding-right: 8px;
}

i.fa.fa-search{
	color:white;
}

i.fa.fa-bars{
	color:white;
	font-size: 1.25rem !important;
}