<div class = "form-template-outer">
  <div class = "form-template-cell">
    <div class = "form-template-inner">
      <div class = "insideFormTemplate">
		<h1><span class = "form-title">Report</span></h1>

		<%if @userCheck == true%>
			<%puts @report%>
			<%= render 'form', report: @report %>
		<%elsif @userCheck == false%>
			<%puts @report%>
			<%= render 'postReportForm', report: @report, post: @post %>
		<%end%>
	  </div>
    </div>
  </div>
</div>
