<nav class = "navbar navbar-expand navbar-dark bg-dark fixed-top">
    <ul class = "nav navbar-nav align-items-center">
        <li class = "nav-item">
            <button type="button" id="sidebarCollapse">
                <i class="fa fa-bars"></i>
            </button>
        </li>
        <li class = "nav-item navbar-brand">
            <%= link_to "Grind", root_path%>
        </li>
    </ul>
    <ul class = "nav navbar-nav align-items-center ml-auto">
        <li class = "nav-item">
            <button type = "button" id = "searchIconButton">
                <i class = "fa fa-search right-text"></i>
            </button>
        </li>
        <li class = "nav-item">
            <form id = "searchForm" class="nav-item">
                <input type="text" placeholder="Search" name="search" class="searchBox"></input><button class="search"type="submit"><i class="fa fa-search searchInButton"></i></button>
            </form>
        </li>
        <% if !user_signed_in? %>
                <li><%= link_to "Log In", new_user_session_path, class: "text-white nav-item right-text btn btn-outline-primary far-right"%></li>
                <li><%= link_to "Sign Up", new_user_registration_path, class: "text-white nav-item right-text btn btn-primary far-right"%></li>
        <%else%>
            <li id = "square" class = "nav-item"></li>
            <li class = "d-none d-sm-block"><%= link_to current_user.email, current_user, class: "nav-item right-text text-white"%></li>
            <li class = "nav-item"><button id = "postButton" class = "btn-round-lg text-white">POST</button></li>
        <%end%>
    </ul>
</nav>