<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand navbar-toggleable">
    <div class = "navbar-collapse">
        <ul class="nav navbar-nav d-lg-flex align-items-center w-100">
            <div>
                <button type="button" id="sidebarCollapse">
                    <i class="fa fa-bars"></i>
                </button>
                <li class = "nav-item navbar-brand"><%= link_to "Keep Grinding.", root_path%></li>
            </div>
        </ul>
    </div>
    <%# This Lower part will focus on contents to the right end of the navbar, nav-item aligns it in the middle of the navbar%>
    <button type = "button" id = "searchIconButton">
        <i class = "fa fa-search right-text"></i>
    </button>
    <form id = "searchForm" class="nav-item">
      <input type="text" placeholder="Search" name="search" class="searchBox"></input><button class="search"type="submit"><i class="fa fa-search searchInButton"></i></button>
    </form>
    <% if !user_signed_in? %>
        <div>
           <%= link_to "Sign Up", new_user_registration_path, class: "text-white nav-item right-text"%>
           <%= link_to "Log In", new_user_session_path, class: "text-white nav-item right-text"%>
        </div>
    <%else%>
        <div>
            <%= link_to current_user.email, current_user, class: "text-white right-text nav-item"%>
        </div>
    <%end%>
</nav>