<nav id="sidebar">
    <div class="feeds">
        <h6 class = 'panel-title'>Feeds</h6>
    </div>
    <div class="panel-heading">
        <h6 class="panel-title">Following</h6>
        <div id = "sidebarList" class="panel panel-default panel-group">
            <div id="collapse1" class="panel-collapse collapse">
                <% if current_user != nil%>
                      <% current_user.following.each do |user|%>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item border-top">
                                  <%= link_to user, :class => "email" do%>
                                      <div class = "email"><%= user.email %></div>
                                  <%end%>
                              </li>
                            </ul>
                      <%end%>
                      <span class = "border-top"></span>
                <%end%>
            </div>
        </div>
        <% if current_user != nil%>
            <p class="panel-title" id = "down-arrow">
                <a data-toggle="collapse" href="#collapse1"><i class="fa fa-angle-down"></i>Show All</a>
            </p>
            <p class="panel-title" id = "up-arrow">
                <a data-toggle="collapse" href="#collapse1"><i class="fa fa-angle-up"></i>Show None</a>
            </p>
        <%end%>
    </div>
    <ul class = "about-section bottomZero">
      <li>About</li><li>User Agreement</li><li>Help</li>
      <li>Advertise</li><li>Content</li><li>Copyright</li>
    </ul>
</nav>

