<div class="error_container">
<p>Unfortunately this page wasn't found, but please feel free to check out more content using the sidebar to the left.</p>
  <%= link_to "Back to home", root_path %>
</div>
